<h1>SOS_Forum</h1>

<div class="panel-body">
  <h3>Add a New Request </h3>
  <% if @request.id %>
    <%= form_for @request , :url => request_path(@request, :page => params[:page]) , :method => :patch do |f|%>
      <%= render :partial => "form" , :locals => {:f => f} %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <%= form_for @request , :url => requests_path do |f| %>
      <%= render :partial => "form" , :locals => {:f => f} %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>

<table class="table">
  <tr>
    <th>TITLE</th>
    <th>CREATOR</th>
    <th>TIME CREATE</th>
    <th>LASTEST UPDATED</th>
  </tr>

    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.title , request_path(request) %></td>
        <td><%= request.user.try(:short_name) %></td>
        <td><%= request.created_at %></td>
        <td><%= request.updated_at %></td>
        <td>
          <% if request.user == current_user %>
            <%= link_to "Edit" , edit_request_path(request)  %>
          <% end %>
        </td>
        <td>
          <% if request.user == current_user %>
            <%= link_to "Delete" , request_path(request,:page =>params[:page]),
                :method => "delete" , :data => { :confirm => "Are you sure to kill me?"} %>
        </td>
          <% end %>
      </tr>
    <% end %>

</table>
  <%= paginate @requests %>
