<table class="table">

  <% if @request.user == current_user %>
    <%= form_for @request , :url => request_path(@request) , :method => "patch" do |f| %>
      <%= render :partial => "form" , :locals => {:f => f} %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <tr><h2><%= @request.title %></h2></tr>
    <td><%= @request.content %></td>
  <% end %>


    <%= link_to "Comment" , new_request_comment_path(@request) %>

    <% @cm.each do |c| %>
      <%= c.details %>

      <%= link_to "Delete" , request_comment_path(@request , c ) , :method => :delete %>
    <% end %>




</table>

<%= link_to "Back to index" , requests_path %>
